version: '3'

services:
  reverse_proxy:
    image: nginx
    tty: true
    user: ${UID?err}:${GID?err}
    ports:
      - 8080:80
    depends_on:
      - client
      - server
    volumes:
      - ./reverse_proxy/nginx.conf:/etc/nginx/conf.d/default.conf:ro

  client:
    image: vilkatis/angular
    container_name: ${CLIENT_HOST}
    user: ${UID?err}:${GID?err}
    tty: true
    volumes:
      - ./client:/app
    depends_on:
      - server
    ports:
      - ${CLIENT_PORT}:${CLIENT_PORT}
    environment:
      SERVER_HOST: ${SERVER_HOST}
      SERVER_PORT: ${SERVER_PORT}

  server:
    image: vilkatis/ts-node
    container_name: ${SERVER_HOST}
    user: ${UID?err}:${GID?err}
    tty: true
    volumes:
      - ./server:/app
    depends_on:
      - mysql
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
    environment:
      SERVER_PORT: ${SERVER_PORT}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASS: ${DB_PASS}
      DB_NAME: ${DB_NAME}

  mysql:
    image: mysql
    container_name: ${DB_HOST}
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    ports:
      - ${DB_PORT}:3306
    volumes:
      - ./database/mysql:/docker-entrypoint-initdb.d
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASS}