:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.actions {
  display: flex;
  flex-direction: row;
  height: 40px;
}

.table-wrapper {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;
  overflow: auto;
  background: #CCC;
}

.table {
  display: grid;
  grid-auto-rows: 50px;
  grid-template-rows: 75px;
  grid-template-columns: [symbol] 100px [name] minmax(min-content, 1fr) [type] 100px [action] minmax(min-content, 100px);
}

button,
.button {
  padding: 5px;
  background: #243b55;
  color: #FFF;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  user-select: none;
  &:disabled,
  &.disabled {
    background: #ccc;
    color: #333;
    cursor: default;
    pointer-events: none;
  }
}

.table-header,
.table-row {
  display: contents;
}

.table-cell {
  background: #FFF;
  padding: 5px;
  margin: 1px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: center;
  cursor: default;
}

.table-cell span {
  margin-bottom: 7px;
}

.align-center {
  align-items: center;
}

.table-header .table-cell {
  background: rgba(0,0,0,0.85);
  color: #FFF;
  position: sticky;
  top: 0;
  z-index: 5;
}

.sticky-left {
  position: sticky;
  left: 0;
  z-index: 4;
}

select, input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #444;
}

input:focus {
  border: 1px solid green;
}
